#:schema node_modules/wrangler/config-schema.json

name = "homepage"
compatibility_date = "2026-02-19"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "dist"
not_found_handling = "single-page-application"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
