name: Tests and Lints packages

on:
  workflow_call:

jobs:
  check:
    name: ${{ matrix.check.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        check:
          - name: Lint
            command: pnpm run ci
          - name: Test
            command: pnpm test
          - name: Typecheck
            command: pnpm typecheck

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up project
        uses: ./.github/actions/setup-node-deps

      - name: Run ${{ matrix.check.name }}
        run: ${{ matrix.check.command }}
